[submodule "perception/yolov5/yolov5"]
	path = perception/yolov5/yolov5
	url = git@github.com:ultralytics/yolov5.git
[submodule "vehicles/jaxguam/jax_guam"]
	path = vehicles/jaxguam/jax_guam
	url = https://github.com/oswinso/jax_guam.git
[submodule "helipad_cat_dataset"]
	path = helipad_cat_dataset
	url = https://github.com/arasul42/helipad_detection
[submodule "helipad_detection"]
	path = helipad_detection
	url = https://github.com/arasul42/helipad_detection.git
