services:
  carla:
    container_name: carla
    build: .
    image: arasul42/carla_ue5:latest
    command: /home/carla/Linux/CarlaUnreal.sh
    privileged: true
    environment:
      DISPLAY: $DISPLAY
      SDL_VIDEODRIVER: x11
    ports:
      - "2000:2000"
      - "2001:2001"
      - "2002:2002"
    volumes:
      - /tmp/.X11-unix:/tmp/.X11-unix:rw
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro
      - /usr/share/vulkan/icd.d:/usr/share/vulkan/icd.d:ro
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [compute,utility,graphics,display]
    logging:
      options:
        max-size: "10m"
        max-file: "3"
