services:

  simulator:
    container_name: simulator
    build:
      context: ..
      dockerfile: docker/Dockerfile
    # runtime: nvidia
    environment:
      - DISPLAY=${DISPLAY}
    volumes:
      - /tmp/.X11-unix:/tmp/.X11-unix
      - ..:/home/sim/simulator
    privileged: true
    network_mode: host
    devices:
      - "/dev/snd"
    tty: true
    stdin_open: true
    working_dir: /home/sim/simulator

  carla:
    container_name: carla
    image: carlasim/carla:0.9.15
    privileged: true
    network_mode: host
    environment:
      - DISPLAY=${DISPLAY}
    deploy:
      resources:
        reservations:
          devices:
          - driver: nvidia
            capabilities: [gpu]
    command: /bin/bash ./CarlaUE4.sh
