services:
  roscore:
    container_name: roscore
    build:
      context: .
      dockerfile: Dockerfile.roscore
    privileged: true
    network_mode: host
    command: /bin/bash -c 'source /opt/ros/noetic/setup.bash && roscore'

  carla:
        image: stargaze0909/carla_uli_ubuntu20:latest
        logging:
          options:
            max-size: "10m"
            max-file: "3"
        privileged: true
        environment:
            SDL_VIDEODRIVER: x11
            DISPLAY: $DISPLAY
        ports:
            - "2000:2000"
            - "2001:2001"
            - "2002:2002"
        command: ./CarlaUE4.sh #-quality-level=Low -carla-rpc-port=2000
        volumes:
            - /tmp/.X11-unix:/tmp/.X11-unix:rw
            - /etc/localtime:/etc/localtime
            - /etc/timezone:/etc/timezone
            - /usr/share/vulkan/icd.d:/usr/share/vulkan/icd.d
        restart: always
        deploy:
          resources:
            reservations:
              devices:
                - driver: nvidia
                  count: "all"
                  capabilities: [compute,utility,graphics,display]
  # carla:
  #   container_name: carla
  #   image: stargaze0909/carla_uli_ubuntu20:latest
  #   privileged: true
  #   network_mode: host
  #   environment:
  #     - DISPLAY=${DISPLAY}
  #   deploy:
  #     resources:
  #       reservations:
  #         devices:
  #         - driver: nvidia
  #           capabilities: [gpu]
  #   command: /bin/bash ./CarlaUE4.sh

  carla_api:
    container_name: carla_api
    build:
      context: ..
      dockerfile: docker/Dockerfile.CarlaUbuntu20
    runtime: nvidia
    volumes:
      - ..:/home/sim/simulator
    privileged: true
    network_mode: host
    devices:
      - "/dev/snd"
    tty: true
    stdin_open: true
    working_dir: /home/sim/simulator
    command: /bin/bash -c 'sleep 5 && source /opt/ros/noetic/setup.bash && catkin_make && source /home/sim/simulator/devel/setup.bash && rosrun rraaa node_carla.py'
  
  simulator:
    container_name: simulator
    build:
      context: ..
      dockerfile: docker/Dockerfile
    # runtime: nvidia
    environment:
      - DISPLAY=${DISPLAY}
    volumes:
      - /tmp/.X11-unix:/tmp/.X11-unix
      - ..:/home/sim/simulator
      # - /var/run/docker.sock:/var/run/docker.sock # see utils/docker.py
      # - /usr/bin/docker:/usr/bin/docker           # see utils/docker.py
    privileged: true
    network_mode: host
    devices:
      - "/dev/snd"
    tty: true
    stdin_open: true
    depends_on:
      - roscore    
    working_dir: /home/sim/simulator

  jaxguam:
    container_name: jaxguam
    build:
      context: ../vehicles/jaxguam
      dockerfile: Dockerfile
    volumes:
        - ../vehicles/jaxguam:/catkin_ws/src/jaxguam
        - ../utils:/catkin_ws/src/jaxguam/scripts/utils
    privileged: true
    network_mode: host
    devices:
      - "/dev/snd"
    tty: true
    stdin_open: true
    depends_on:
      - roscore
    working_dir: /catkin_ws/src/jax_guam